*, *:before, *:after {
  box-sizing: border-box; 
}
html {
  font-size: 62.5%;
}
body {
  color: #444;
  background-color: hsl(0, 0%, 96%);
}
h1 {
  font-size: 1.8rem;
}
p {
  font-size: 16px;
}
canvas {
  border: 1px solid black;
  margin-bottom: 10px;
}
td {
  height: 20px;
  width: 60px;
  text-align: center;
}
#red {
  background-color: red;
}
#green {
  background-color: green;
}
#blue {
  background-color: blue;
}
#lightblue {
  background-color: lightblue;
}
